$bg-flight-panel: #555555;
$bg-flight-content: #F7F7F7;
$text-color: #F7921E;
// AMS Styles
$ams-btnup-color: #0093D9;
$ams-btnup-hover-color: #00B8F1;
$ams-btndown-color: #0078BF;
$ams-focus-color: #FFC90E;
.border-transparent {
    border: 4px solid transparent;
}

$ams-focus-color: #FFC90E;
.ams_selected {
    outline: 2px solid $ams-focus-color;
}

.ams_focus {
    &:focus {
        @extend .ams_selected;
    }
}

.current-flight {
    background: $bg-flight-panel;
    margin-left: 1em;
    // min-height: 20.5em;
    padding: 1em;
}

.upcoming-flight {
    background: $bg-flight-panel;
    // height: 33.5em;
    overflow-x: hidden;
    min-width: 24em;
    padding: 1em;
}

.div-f {
    padding: 5px;
    margin-bottom: 5px;
    background: $bg-flight-content;
}

.container-col {
    display: flex;
    /* or inline-flex */
    flex-direction: column;
}

.text-up {
    transform: rotate(-90deg);
    font-size: 14px;
    width: 1em;
}

.container-row {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    justify-content: space-between;
}

.bd {
    border: 1px solid #ccc;
}

.next-status {
    min-height: 64px;
    width: 6em;
    white-space: normal;
    background: $text-color;
    &:hover {
        background-color: #FFAA2A !important;
    }
}

.text-header {
    color: $text-color;
    font-size: 1.3em;
}

.border-transparent {
    border: 4px solid transparent;
}

.boarding-animate {
    border: 4px solid yellow;
    box-shadow: 0 0 0 4px yellow;
}