<div class="current-flight-container">
    <div class="gate-info fl">
        <table id="gate1">
            <tr>
                <td colspan=2 class="gate-name"> GATE A3</td>
                <td colspan=2 class="gate-name"> UA 4019 </td>
            </tr>
            <tr>
                <td colspan=4> FLA </td>
            </tr>
            <tr>
                <td class="text-up">STD</td>
                <td class="gate-time"> "13:20" </td>
                <td class="text-up">POBT</td>
                <td class="gate-time"> "13:20"</td>
            </tr>
            <tr>
                <td colspan=4>
                    40m left
                </td>
            </tr>
        </table>

    </div>
    <div class="gate-status fl ml-1">
        <div class="container-col">
            <div class="container-row bd div-f">
                <div class="w-100 pr-1">
                    <div>Gate Status</div>
                    <div class="w-100">
                        <span class="g-status">
                        Gate Open
                    </span>

                    </div>
                </div>
                <div>
                    <button class="btn btn-primary next-status" tabindex="0" translate>                    
                    <span > Boarding </span>
                </button>
                </div>
            </div>
            <div class="bd div-f">
                <div class="container-row">
                    <div class="w-100 pr-1">
                        <div>Boarding Status</div>
                        <div class="w-100">
                            <span class="g-status">By Zone</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary next-status" tabindex="0" translate> Zone-A </button>
                    </div>
                </div>
            </div>
            <div class="container-row p-3 div-f">
                <div>
                    <button class="btn btn-primary btn-ams" tabindex="0">
                    <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
                </button>
                </div>
                <div>
                    <button class="btn btn-primary btn-ams" tabindex="0">
                    <i class="fa fa-desktop fa-lg" aria-hidden="true"></i>
                </button>
                </div>
                <div>
                    <button class="btn btn-primary btn-ams" tabindex="0">
                    <i class="fa fa-male fa-lg" aria-hidden="true"></i>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>