$color-veg: #03B480;
.veg-container {
    background-image: url("assets/veggie/bg.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    padding: 2em;
    height: 100%;
    .bold {
        color: $color-veg;
        font-weight: bold;
    }
    .quote-title {
        font-size: 2em;
    }
    .quote-content {
        font-size: 1.3em;
    }
}

.first-brick {
    background-color: rgba(81, 158, 76, .5);
    padding: 2em;
    padding-top: 1em;
    width: 25em;
    position: absolute;
    top: 50px;
    right: 100px;
    border-radius: 17px;
    .veg-title {
        font-size: 2em;
        font-weight: bold;
    }
}

.second-brick {
    margin-top: 39em;
    background: #F7F7F7;
    padding: 1em;
    border-radius: 17px;
    min-height: 50em;
}

.veg-title {
    font-size: 1.3em;
    font-weight: bold;
}

.carousel {
    zoom: 60%;
    opacity: 0.9;
    z-index: 9;
    transition: zoom 2s;
    &:hover {
        opacity: 1;
        zoom: 90%;
        z-index: 10;
    }
}

.veggie-card {
    background: #F7F7F7;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 1em;
    position: relative;
}

.box-shadow-hover {
    animation: box-shadow 1s;
    &:hover {
        box-shadow: #ccc 0px 0px 20px 11px;
    }
}