$bg_boardpass: #1968A1;
$padding_board: 1em;
.ticket {
    height: 29em;
    .line-part {
        height: 2em;
        width: 100%;
        background-color: $bg_boardpass;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
    }
    .body-part {
        border: 1px solid #ccc;
        position: relative;
        width: 16em;
        height: 100%;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        .brief-ticket {
            padding: $padding_board;
            .journey {
                font-size: 1.7em;
            }
            .logo {
                width: 9em;
                height: 44px;
                border: thick dashed #f2f2f2;
                border-color: #ccc transparent transparent transparent;
                border-radius: 54%/44px 44px 0 0;
                margin: 0 auto;
            }
        }
        .main-ticket {
            width: 31em;
            height: 100%;
            padding: $padding_board;
            .seat {
                width: 141px;
                height: 47px;
                background: $bg_boardpass;
                font-size: 2em;
                line-height: 47px;
                text-align: center;
            }
            .passenger,
            .destination,
            .airline,
            .boarding-pass,
            .departure-time,
            .departure-date {
                font-size: 1.2em;
            }
        }
        .tear-part {
            width: 15em;
            height: 100%;
            padding: $padding_board;
        }
        .oval {
            position: absolute;
            top: 302px;
            width: 33px;
            height: 33px;
            background: white;
            border-radius: 90px;
            &.left {
                left: -20px;
                border-right: 2px solid #ccc;
            }
            &.right {
                right: -20px;
                border-left: 2px solid #ccc;
            }
        }
        .separate-line {
            height: 100%;
            border-bottom: thick solid #f2f2f2;
        }
        .tear-line {
            height: 100%;
            border-bottom: thick dashed #f2f2f2;
        }
    }
}